<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head th:fragment="header">
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	
	    <title>Tugas</title>
	
	    <!-- Bootstrap Core CSS -->
	    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	
	    <!-- Bootstrap Select CSS -->
	    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" />
	
	    <!-- Custom CSS -->
	    <link th:href="@{/css/style.css}" rel="stylesheet" />
	    
	    <!-- Datatables CSS -->
	    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css" />
	    
	    <!-- jQuery CSS -->
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	</head>
</html>