<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<div th:fragment="navbar">
			<!-- Navigation -->
		    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		        <div class="container">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="#">SBMPTN</a>
		            </div>
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav">
		                    <li th:if="${linkUrl == 'home'}" class="active">
		                        <a th:href="'/'">Home</a>
		                    </li>
		                    <li th:if="${linkUrl != 'home'}">
		                        <a th:href="'/'">Home</a>
		                    </li>
		                    <li th:if="${linkUrl == 'univ'}" class="active">
		                        <a th:href="'/univ'">Universitas</a>
		                    </li>
		                    <li th:if="${linkUrl != 'univ'}">
		                        <a th:href="'/univ'">Universitas</a>
		                    </li>
		                </ul>
		            </div>
		            <!-- /.navbar-collapse -->
		        </div>
		        <!-- /.container -->
		    </nav>
		</div>
	</body>
</html>