<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar">...</div>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1>
                	Form Edit Peserta
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-12">
            	<form th:action="@{/peserta/edit/submit}" method="post" th:object="${peserta}" id="editPeserta">
	                <div class="form-group">
	                    <label>Nomor Peserta : </label>
	                    <input class="form-control" type="text" readonly="readonly" th:field="*{nomor}" />
	                </div>
	                <div class="form-group">
	                    <label>Nama Peserta : </label>
	                    <input class="form-control" type="text" th:field="*{nama}" />
	                </div>
	                <div class="form-group">
	                    <label>Tgl Lahir : </label>
	                    <input class="form-control" id="pdate" type="text" name="tglLahirString" th:value="${peserta.tglLahirFormat}" />
	                </div>
	                <div class="form-group">
	                    <label>Prodi Lulus/Tidak Lulus : </label>
	                    <select name="kodeProdi" class="form-control selectpicker" data-live-search="true">
	                    	<option value=""> -- Pilih --</option>
	                    	<option 
	                    		value="TIDAK LULUS"
	                    		th:selected="${peserta.kodeProdi == null}"
	                    	>TIDAK LULUS</option>
	                    	<option 
	                    		th:each="prodi : ${prodis}" 
	                    		th:value="${prodi.kodeProdi}"
	                    		th:text="${prodi.namaProdi}+' - '+${prodi.namaUniv}"
	                    		th:selected="${prodi.kodeProdi == peserta.kodeProdi}"
	                    	>Wireframe</option>
	                    </select>
	                </div>
	                <button type="submit" class="btn btn-success">Submit</button>
            	</form>
            </div>
        </div>
        <!-- /.row -->
        
        <hr></hr>

        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer">
        </footer>

    </div>
    <!-- /.container -->
	<div th:replace="fragments/javascript :: javascript">...</div>
	<script>
		$().ready(function() {
			// override jquery validate plugin defaults
			$.validator.setDefaults({
			    highlight: function(element) {
			        $(element).closest('.form-group').addClass('has-error');
			    },
			    unhighlight: function(element) {
			        $(element).closest('.form-group').removeClass('has-error');
			    },
			    errorElement: 'span',
			    errorClass: 'help-block',
			    errorPlacement: function(error, element) {
			        if(element.parent('.input-group').length) {
			            error.insertAfter(element.parent());
			        } else {
			            error.insertAfter(element);
			        }
			    }
			});
			// validate form add prodi form on keyup and submit
			$("#editPeserta").validate({
				rules: {
					nama: {
						required: true,
						minlength: 4,
						maxlength: 30
					},
					tglLahirString: {
						required: true
					},
					kodeProdi: {
						required: true
					}
				},
				messages: {
					nama: {
						required: "Please enter a Nama Peserta",
						minlength: "Your Nama Peserta must consist of at least 4 characters",
						maxlength: "Your Nama Peserta must consist of at most 10 characters"
					},
					tglLahirString: {
						required: "Please provide a Tgl Lahir"
					},
					kodeProdi: {
						required: "Please provide a Prodi"
					}
				}
			});
			// Datepicker
			$("#pdate").datepicker({
				showOn: 'focus',
				changeMonth: true,
				changeYear: true,
				dateFormat: 'mm-dd-yy'
			});
		});
		</script>
</body>

</html>
