<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar">...</div>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 th:text="${informasiPeserta}">
                	Detail Peserta
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-12">
            	<table class="table table-hover">
            		<tbody>
            			<tr>
            				<td>Nomor</td>
            				<td th:text="': '+${peserta.nomor}"></td>
            			</tr>
            			<tr>
            				<td>Nama</td>
            				<td th:text="': '+${peserta.nama}"></td>
            			</tr>
            			<tr>
            				<td>Tanggal Lahir</td>
            				<td th:text="': '+${peserta.tglLahirFormat}"></td>
            			</tr>
            			<tr>
            				<td>Umur</td>
            				<td th:text="': '+${peserta.umur}"></td>
            			</tr>
            		</tbody>
            	</table>
            </div>
            <div class="col-md-12" th:if="${pengumuman}">
            	<div th:if="${peserta.lulus}" class="alert alert-success alert-dismissible">
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
	        		<h4>Selamat anda lulus seleksi SBMPTN pada prodi <a th:href="${peserta.urlUniv}" target="_blank" th:text="${peserta.namaProdi}+' '+${peserta.namaUniv}"></a></h4>
	            </div>
	            
	            <div th:if="${!peserta.lulus}" class="alert alert-danger alert-dismissible">
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
	        		<h4>Mohon Maaf, anda belum lulus SBMPTN</h4>
	            </div>
            </div>
            <div class="col-md-12">
            	<a th:href="'/peserta/edit/'+${peserta.nomor}" class="btn btn-success pull-right">Edit Peserta</a>
            </div>
        </div>
        <!-- /.row -->
        
        <hr></hr>

        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer">
        </footer>

    </div>
    <!-- /.container -->
	
	<div th:replace="fragments/javascript :: javascript">...</div>
</body>

</html>
