<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar">...</div>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1>
                	<font th:text="${univ.kodeUniv}+' - '+${univ.namaUniv}">Detail Universitas</font>
                	<a th:href="'/univ/'+${univ.kodeUniv}" class="btn btn-primary pull-right">Kembali Ke Daftar Prodi</a>
                </h1>
            </div>
            <div class="col-lg-12">
                <h3>
                	<font th:text="${prodi.kodeProdi}+' - '+${prodi.namaProdi}">Detail Prodi</font>
                	<a th:href="${univ.urlUniv}" target="_blank"><small style="color:#337ab7 !important;" th:text="${univ.urlUniv}">url</small></a>
                </h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-lg-12">
                <h3>
                	Daftar Peserta
                </h3>
                <p th:text="'Peserta Tertua : '+${maxPeserta.nomor}+' - '+${maxPeserta.nama}+', '+${maxPeserta.umur}+' tahun'">Peserta Tertua</p>
                <p th:text="'Peserta Termuda : '+${minPeserta.nomor}+' - '+${minPeserta.nama}+', '+${minPeserta.umur}+' tahun'">Peserta Termuda</p>
            </div>
            <div class="col-md-12">
            	<table class="table table-hover" id="prodiTable">
            		<thead>
            			<th>Kode</th>
            			<th>Nama</th>
            			<th>Menu</th>
            		</thead>
            		<tbody>
            			<tr th:each="peserta,iterationStatus: ${prodi.pesertas}">
		        			<td th:text="${peserta.nomor}"></td>
		        			<td th:text="${peserta.nama}"></td>
		        			<td>
		        				<a th:href="'/peserta?nomor=' + ${peserta.nomor}" class="btn btn-primary"> Lihat Detail</a>
		        			</td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
        <!-- /.row -->
        
        <hr></hr>

        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer">
        </footer>

    </div>
    <!-- /.container -->
	
	<div th:replace="fragments/javascript :: javascript">...</div>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#prodiTable').DataTable();
		} );
	</script>
</body>

</html>
