<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar">...</div>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                	<font th:text="${univ.kodeUniv}+' - '+${univ.namaUniv}">Detail Universitas</font>
                	<a th:href="'/univ'" class="btn btn-primary pull-right">Kembali Ke Daftar Universitas</a>
                	<br></br>
                	<a th:href="${univ.urlUniv}" target="_blank"><small style="color:#337ab7 !important;" th:text="${univ.urlUniv}">url</small></a>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-lg-12">
                <h3>
                	<a th:href="'/univ/'+${univ.kodeUniv}" class="btn btn-primary">Daftar Prodi</a>
                	<br></br>
                	Daftar Peserta
                </h3>
            </div>
            <div class="col-md-12">
            	<table class="table table-hover" id="pesertaTable">
            		<thead>
            			<th>Nomor Peserta</th>
            			<th>Nama Peserta</th>
            			<th>Prodi</th>
            			<th>Menu</th>
            		</thead>
            		<tbody>
            			<tr th:each="peserta,iterationStatus: ${peserta}">
		        			<td th:text="${peserta.nomor}"></td>
		        			<td th:text="${peserta.nama}"></td>
		        			<td th:text="${peserta.namaProdi}"></td>
		        			<td>
		        				<a th:href="'/peserta?nomor=' + ${peserta.nomor}" class="btn btn-primary"> Lihat Detail</a>
		        			</td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
        <!-- /.row -->
        
        <hr></hr>

        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer">
        </footer>

    </div>
    <!-- /.container -->
	
	<div th:replace="fragments/javascript :: javascript">...</div>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#pesertaTable').DataTable();
		} );
	</script>
</body>

</html>
