<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar">...</div>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                	Daftar Universitas
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-12">
            	<table class="table table-hover" id="univTable">
            		<thead>
            			<th>No</th>
            			<th>Nama</th>
            			<th>Menu</th>
            		</thead>
            		<tbody>
            			<tr th:each="univ,iterationStatus: ${univs}">
		        			<td th:text="${iterationStatus.count}"></td>
		        			<td th:text="${univ.namaUniv}"></td>
		        			<td class="text-center">
		        				<a th:href="'/univ/' + ${univ.kodeUniv}" class="btn btn-primary"> Lihat Detail</a>
		        				&nbsp;
		        				<a th:href="'/univ/daftarMahasiswa/' + ${univ.kodeUniv}" class="btn btn-warning"> Daftar Mahasiswa</a>
		        			</td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
        <!-- /.row -->
        
        <hr></hr>

        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer">
        </footer>

    </div>
    <!-- /.container -->
	
	<div th:replace="fragments/javascript :: javascript">...</div>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#univTable').DataTable();
		} );
	</script>
</body>

</html>
